---
import Layout from '../layouts/Layout.astro';
import Counter from '../components/counter/counter'
---

<Layout title="Welcome to Astro.">
	<main class="space-y-8 mx-auto max-w-md px-4 py-20 text-white">
		<h1 class="text-4xl">React with State</h1>
		<Counter client:load/>
	</main>
</Layout>
