---
import Layout from '../layouts/Layout.astro';
import UserCard from '../components/user/user-card';
---

<Layout title="Welcome to Astro.">
	<main class="space-y-8 mx-auto max-w-md px-4 py-20 text-white">
		<h1 class="text-4xl">React</h1>
    <UserCard name='Philip' />
	</main>
</Layout>
