---
import Articles from '../components/article';
import Cart from '../components/cart'
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="space-y-8 mx-auto max-w-md px-4 py-20 text-white">
		<h1 class="text-4xl">My Shop</h1>
		<div class="flex gap-16">
			<div class="py-2">
				<Articles client:load />
			</div>
			<aside>
				<h2>Warenkorb</h2>
				<Cart client:load />
			</aside>
		</div>
	</main>
</Layout>
